<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Home Value Lead Info</h1>
    <p>
      Name: <%= @name %><br>
      Email: <%= @email %><br>
      Contact Info: <%= @contact %><br>
      Address: <%= @street %> <br>
      City/State/Zip: <%= @city %> <%= @state %> <%= @zipcode %><br>
      Property Type: <%= @property_type %><br>
      Zestimate: <%= currency(@zestimate_value) %><br>
      Low Zestimate: <%= currency(@zestimate_low) %><br>
      High Zestimate: <%= currency(@zestimate_high) %><br><br>
      Market Report: <font color="red"><%= @market_report == 1 ? "Set up a monthly market report for this person" : "No" %><br></font>
      Agent Contact: <font color="red"><%= @agent_contact == 1 ? "Contact this person NOW about an opinion of value" : "No" %><br></font>

    </p>
  </body>
</html>