<div class="row">
  <div class="col-md-12">
  <h2 style="margin-top:-10px;">for <%= @street %> <%= @city %>, <%= @state %>  <%= @zipcode %></h2>
  </div>
</div> 

<div class="well">
	<div class="row">

		<div class="col-md-4">
			<h3>Low Zestimate<br>
			<%= currency(@zestimate_low) %></h3>
		</div>

		<div class="col-md-4">
			<h2>Your Zestimate<br>
			<%= currency(@zestimate_value) %></h2>
		</div>

		<div class="col-md-4">
			<h3>High Zestimate<br>
			<%= currency(@zestimate_high) %></h3>
		</div>

    <div class="row">
      <div class="col-md-12" style="font-size:85%;">
        <a href="http://www.zillow.com"><img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40_rounded.gif" width="150" height="40" alt="Zillow Real Estate Search" /></a><br>See more information for <a href="<%= @homedetails %>"><%= @street %></a> on Zillow.
      </div>
    </div>

	</div>	

	<%= form_for :zestimate, url: zestimate_path(@zestimate), method: :patch do |f| %>	
 

 <div class="row" style="margin-top: 30px">   	
    <div class="col-md-3">
    </div>

   	<div class="col-md-6">

    	<div class="form-horizontal actioncall">
            <%= f.check_box :market_report, class: 'check-box' %> Send me a monthly market report for <b><%= codestring(@property_type) %></b> in <b><%= @city %></b>
      </div>

      <div class="form-horizontal actioncall">
            <%= f.check_box :agent_contact, class: 'check-box' %>
          	Please have an agent contact me to prepare an opinion of value and marketing plan
      </div>
		    
    	<div class="form-group">
  			<%= f.label :email %>  
  			<%= f.text_field :email, class: "form-control" %>
		</div> 

        <div class="form-group">
        	<%= f.label "Name and Phone Number" %>
        	<%= f.text_field :contact, class: "form-control" %>
        </div>

        <div class="form-group">
        	<%= f.submit "Submit", class: "btn btn-success" %>
        </div>

    <div class="col-md-3">
    </div>

	<% end %>
  </div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1552984285001398');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1552984285001398&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</div>