<div class="row">
  <div class="col-md-12">
  <h3>for <%= @street %> <%= @city %>, <%= @state %>  <%= @zipcode %></h3>
  </div>
</div> 

<div class="well">
	<div class="row">

		<div class="col-md-4">
			<h3>low zestimate<br>
			<%= currency(@zestimate_low) %></h3>
		</div>

		<div class="col-md-4">
			<h2>Your Zestimate<br>
			<%= currency(@zestimate_value) %></h2>
		</div>

		<div class="col-md-4">
			<h3>high zestimate<br>
			<%= currency(@zestimate_high) %></h3>
		</div>

	</div>	

	<%= form_for :zestimate, url: zestimate_path(@zestimate), method: :patch do |f| %>	
    
          <%= f.check_box :market_report, class: 'check-box' %>
          <%= f.label :market_report %>


	<% end %>

	<form method="post">


		<div class="checkbox">
	    	<label>
	      		<input type="checkbox" name="market_report">Send me a monthly market report for <%= codestring(@property_type) %> in <%= @city %></b>
	    	</label>
	    </div>
	    
	    <div class="checkbox">
	    	<label>
	      		<input type="checkbox" name="agent_contact">Please have an agent contact me to prepare an opinion of value and marketing plan
	    	</label>
	    </div>

	    <div class="">
	          <label for="contact">Your contact info</label>  
	          <input type = "text" class="form-control" name="contact">
	    </div>

	    <div class="">
	          <label for="comments">Question or Comments</label>  
	          <input type = "text-area" class="form-control" name="comments">
	    </div>  

	    
	 </form>

</div>
