<%= form_for :zestimate, url: zestimate_path(@zestimate), method: :patch do |f| %>	
 

 <div class="row" style="margin-top: 30px">   	
    <div class="col-md-3">
    </div>

    <div class="col-md-6">	
    	<div class="form-horizontal">
          <div class="message">
            <%= f.check_box :market_report, class: 'check-box' %> Send me a monthly market report for <b><%= @property_type %></b> in <b><%= @city %></b>
          </div>
        </div>

        <div class="form-horizontal">  
          <div class="message">
          	<%= f.check_box :agent_contact, class: 'check-box' %>
          	Please have an agent contact me to prepare an opinion of value and marketing plan
          </div>
        </div>
		    
    	<div class="form-group">
  			<%= f.label :email %>  
  			<%= f.text_field :email, class: "form-control" %>
		</div> 

        <div class="form-group">
        	<%= f.label "Name and Phone Number" %>
        	<%= f.text_field :contact, class: "form-control" %>
        </div>

        <div class="form-group">
        	<%= f.submit "Submit" %>
        </div>

    <div class="col-md-3">
    </div>

	<% end %>
</div>
</div>