<div class="well">
  <table class="table">
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Zestimate</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Market Report</th>
      <th>Agent Contact</th>
      <th>Assigned Agent</th>
      <th>Date</th>

    </tr>
   
    <% @zestimates.each do |zestimate| %>
      <tr>
        <td><%= zestimate.street %></td>
        <td><%= zestimate.city %></td>
        <td><%= zestimate.state %></td>
        <td><%= zestimate.zipcode %></td>
        <td><%= currency(zestimate.zestimate_value) %></td>
        <td><%= zestimate.name %></td>
        <td><%= zestimate.email %></td>
        <td><%= zestimate.contact %></td>
        <td><%= answer(zestimate.market_report) %></td>
        <td><%= answer(zestimate.agent_contact) %></td>
        <td><%= zestimate.assigned_agent %></td>
        <td><%= cleantime(zestimate.created_at) %></td>
      </tr>
    <% end %>
  </table>
</div>