<!DOCTYPE html>
<html>
<head>
  <title>ePlace Home Price Estimator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div class='container text-center'>

	  	<h1><%= @title %></h1>
	  	<% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "alert alert-#{key}" %>
        <% end %>
		<%= yield %>
	</div>

<footer>
  <div class="container text-center"><b>
  <%= link_to(image_tag("eplace_logo.jpg"), image_path("eplace_logo.jpg")) %><br>
  &copy ePlace Real Estate, Inc. | 830 Massachesetts Avenue | Cambridge MA 02139<br>617.864.4600 | <a href="mailto:info@eplacehomes.com" style="color: white;">info@eplacehomes.com</a></b> 
  </div>

<!-- google analytics script -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12160448-4', 'auto');
  ga('send', 'pageview');

</script>

</footer>  

</body>
</html>
