<!DOCTYPE html>
<html>
<head>
  <title>ePlace Home Price Estimator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div class='container text-center'>

	  	<h1><%= @title %></h1>
	  	<% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "alert alert-#{key}" %>
        <% end %>
		<%= yield %>
	</div>

<footer>
  <div class="container text-center"><b>
  <%= link_to(image_tag("eplace_logo.jpg"), image_path("eplace_logo.jpg")) %><br>
  &copy ePlace Real Estate, Inc. | 830 Massachesetts Avenue | Cambridge MA 02139<br>617.864.4600 | <a href="mailto:info@eplacehomes.com" style="color: white;">info@eplacehomes.com</a></b> 
  </div>
</footer>  

</body>
</html>
